body{
    margin: 0;
}

.heading {
    margin: 50px 10px;
    border: 5px dashed red;
    padding: 10px;
    background-color: aqua;
}

#heading2{
    background-color: beige;
}

.container{
    display: flex;
    gap: 10px;
}

#indise{
    padding: 5px;
    background-color: aqua;
}